<% if (breadcrumb && breadcrumb.length) { %>
<nav class="text-sm text-gray-600 mb-4">
  <a href="/dashboard" class="text-indigo-600">Root</a>
  <% breadcrumb.forEach(folder => { %> &nbsp;/&nbsp;
  <a href="/dashboard/<%= folder.id %>" class="text-indigo-600">
    <%= folder.name %>
  </a>
  <% }) %>
</nav>
<% } %>
